<!DOCTYPE html>

<html lang="en">
<head>
  	<title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        table, th, td {
            border: 1px solid;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }
        form { 
            margin: 0 auto; 
            width:250px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
            <h2> Welcome back {{username}} {{action}}.</h2>
            {% if action == 1 %}
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Operation Completed Successfully</h4>
                </div>
            {% endif %}
    </div>
    <a href="{%url 'index' %}"> <p style="text-align:center">Logout</p></a>
    <form id="createUser" class="form-group" method="POST" action="{%url 'createUser' %}">
            {%csrf_token%}
            <br>
            <label>Create New User:</label>
            <br>
            <input type="text" name="username" placeholder="username" required>
            <br>
            <input type="text" name="password" placeholder="password" required>
            <br>
            <input type="text" name="name" placeholder="name" required>
            <br>
            <input type="text" name="surname" placeholder="surname" required>
            <br>
            <input type="text" name="email" placeholder="email" required>
            <br>
            <input type="text" name="department_id" placeholder="department id" required>
            <br>
            <input type="radio" id="instructor" name="type" value="instructor">
            <label for="instructor">Instructor</label>
            <br>
            <input type="radio" id="student" name="type" value="student">
            <label for="student">Student</label>
            <br>
            <input type="text" name="title" placeholder="Title (if instructor)">
            <br>
            <input type="text" name="student_id" placeholder="Student ID (if student)">
            <br>
            <input type="submit" name="submit" value="Create User">
            <br>
    </form>
    <form id="deleteStudent" class="form-group" method="POST" action="{%url 'deleteStudent' %}">
            {%csrf_token%}
            <br>
            <label>Delete Student:</label>
            <br>
            <input type="text" name="student_id" placeholder="student_id" required>
            <br>
            <input type="submit" name="submit" value="Delete">
            <br>
    </form>
    <form id="updateInstructor" class="form-group" method="POST" action="{%url 'updateInstructor' %}">
            {%csrf_token%}
            <br>
            <label>Update Instructor Title:</label>
            <br>
            <input type="text" name="username" placeholder="username" required>
            <br>
            <input type="text" name="title" placeholder="New Title">
            <br>
            <input type="submit" name="submit" value="Update">
            <br>
    </form>
    
    <div class="container">
        <h4>Students</h4>
        <table class="center">
            <!--
            <colgroup>
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 70%;">
                <col span="1" style="width: 15%;">
            </colgroup>
            -->
            <tr>
                <th>username</th>
                <th>name</th>
                <th>surname</th>
                <th>email</th>
                <th>department</th>
                <th>completed credits</th>
                <th>GPA</th>
            </tr>
            {% for row in students %}
            <tr>
                {% for value in row %}
                <td>
                    {{value}}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <h4>Instructors</h4>
        <table class="center">
            <!--
            <colgroup>
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 70%;">
                <col span="1" style="width: 15%;">
            </colgroup>
            -->
            <tr>
                <th>username</th>
                <th>name</th>
                <th>surname</th>
                <th>email</th>
                <th>department</th>
                <th>title</th>
            </tr>
            {% for row in instructors %}
            <tr>
                {% for value in row %}
                <td>
                    {{value}}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>