<!DOCTYPE html>

<html lang="en">

<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        table,
        th,
        td {
            border: 1px solid;
        }

        .center {
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }

        form {
            margin: 0 auto;
            width: 250px;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
            <h2> Welcome back {{username}}.</h2>
            {% if action == 1 %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Operation Completed Successfully</h4>
            </div>
            {% else %}
            {% if action == 2 %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Operation Failed</h4>
            </div>
            {% endif %}
            {% endif %}
        </div>
        <a href="{%url 'index' %}">
            <p style="text-align:center">Logout</p>
        </a>
        <form id="getClassroom" class="form-group" method="POST" action="{%url 'getClassroom' %}">
            {%csrf_token%}
            <br>
            <label>View Available Classroom For Slot: </label>
            <br>
            <input type="text" name="slot" placeholder="Slot" required>
            <br>
            <input type="submit" name="submit" value="View">
            <br>
        </form>
        <form id="createCourse" class="form-group" method="POST" action="{%url 'createCourse' %}">
            {%csrf_token%}
            <br>
            <label>Create New Course:</label>
            <br>
            <input type="text" name="course_id" placeholder="Course ID (Last 3 must be number)" required>
            <br>
            <input type="text" name="name" placeholder="Course Name" required>
            <br>
            <input type="text" name="credits" placeholder="Credits" required>
            <br>
            <input type="text" name="classroom_id" placeholder="Classroom ID" required>
            <br>
            <input type="text" name="time_slot" placeholder="Time Slot" required>
            <br>
            <input type="text" name="quota" placeholder="Quota" required>
            <br>
            <input type="submit" name="submit" value="Create Course">
            <br>
        </form>
        <form id="addPrerequisite" class="form-group" method="POST" action="{%url 'addPrerequisite' %}">
            {%csrf_token%}
            <br>
            <label>Update Course Prequisite: </label>
            <br>
            <input type="text" name="course_id" placeholder="Course ID" required>
            <br>
            <input type="text" name="prerequisite" placeholder="Prerequisite" required>
            <br>
            <input type="submit" name="submit" value="Update">
            <br>
        </form>
</body>

</html>