<!DOCTYPE html>

<html lang="en">
<head>
  	<title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        table, th, td {
            border: 1px solid;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }
        form { 
            margin: 0 auto; 
            width:250px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
            <h2> Welcome back {{username}}.</h2>
            {% if action == 1 %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Operation Completed Successfully</h4>
            </div>
            {% else %}
            {% if action == 2 %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Operation Failed</h4>
            </div>
            {% endif %}
            {% endif %}
    </div>
    <form id="addCourse" class="form-group" method="POST" action="{%url 'addCourse' %}">
        {%csrf_token%}
        <br>
        <label>Add Course: </label>
        <br>
        <input type="text" name="course_id" placeholder="Course ID" required>
        <br>
        <input type="submit" name="submit" value="Add">
        <br>
    </form>
    <form id="search" class="form-group" method="POST" action="{%url 'search' %}">
        {%csrf_token%}
        <br>
        <label>Search Courses: </label>
        <br>
        <input type="text" name="keyword" placeholder="Keyword" required>
        <br>
        <input type="submit" name="submit" value="Search">
        <br>
    </form>
    <form id="filter" class="form-group" method="POST" action="{%url 'filter' %}">
        {%csrf_token%}
        <br>
        <label>Filter Courses: </label>
        <br>
        <input type="text" name="department_id" placeholder="Department" required>
        <br>
        <input type="text" name="campus" placeholder="Campus" required>
        <br>
        <input type="text" name="min_credit" placeholder="Minimum Credit" required>
        <br>
        <input type="text" name="max_credit" placeholder="Maximum Credit" required>
        <br>
        <input type="submit" name="submit" value="Filter">
        <br>
    </form>
    <a href="{%url 'index' %}"> <p style="text-align:center">Logout</p></a><div class="container">
        <h4>Courses</h4>
        <table class="center">
            <!--
            <colgroup>
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 70%;">
                <col span="1" style="width: 15%;">
            </colgroup>
            -->
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Instructor Surname</th>
                <th>Department</th>
                <th>Credits</th>
                <th>Classroom ID</th>
                <th>Time Slot</th>
                <th>Quota</th>
                <th>Prerequisites</th>
            </tr>
            {% for row in courses %}
            <tr>
                {% for value in row %}
                <td>
                    {{value}}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <h4>Taken Courses</h4>
        <table class="center">
            <!--
            <colgroup>
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 70%;">
                <col span="1" style="width: 15%;">
            </colgroup>
            -->
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Grade</th>
            </tr>
            {% for row in taken %}
            <tr>
                {% for value in row %}
                <td>
                    {{value}}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>